<div class="container mt-5">
  <div class="row">
      <div class="col">
          <table class="table table-bordered table-hover">
              <tbody>
                  <tr>
                      <th>Id</th>
                      <td>{{oDeck.id}}</td>
                  </tr>
                  <tr>
                      <td>Name</td>
                      <td>{{oDeck.name}}</td>
                  </tr>
                  <tr>
                      <td>Description</td>
                      <td>{{oDeck.description}}</td>
                  </tr>
                  <tr>
                    <td>Last Update</td>
                    <td>{{oDeck.lastupdate}}</td>
                </tr>
                  <tr>
                      <td>Player</td>
                      <td>{{oDeck.player.id}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>