<div class="container mt-5">
  <div class="row">
      <div class="col">
          <table class="table table-bordered table-striped">
              <tbody>
                  <tr>
                    <td rowspan="28"><img src={{oCard.image}} alt=""></td>
                  </tr>
                  <tr>
                    <th>Id</th>
                    <td>{{oCard.id}}</td>
                  </tr>
                  <tr>
                    <td>Name</td>
                    <td>{{oCard.name}}</td>
                  </tr>
                  <tr>
                    <td>Type</td>
                    <td>{{oCard.type}}</td>
                  </tr>
                  <tr>
                    <td>Color</td>
                    <td>{{oCard.color}}</td>
                  </tr>
                  <tr>
                    <td>Stage</td>
                    <td>{{oCard.stage}}</td>
                </tr>
                <tr>
                  <td>Digitype</td>
                  <td>{{oCard.digitype}}</td>
                </tr>
                <tr>
                  <td>Attribute</td>
                  <td>{{oCard.attribute}}</td>
                </tr>
                <tr>
                  <td>Level</td>
                  <td>{{oCard.level}}</td>
                </tr>
                <tr>
                  <td>Play Cost</td>
                  <td>{{oCard.playcost}}</td>
                </tr>
                <tr>
                  <td>Evolution Cost</td>
                  <td>{{oCard.evolutioncost}}</td>
                </tr>
                <tr>
                  <td>DP</td>
                  <td>{{oCard.dp}}</td>
                </tr>
                <tr>
                  <td>Card Number</td>
                  <td>{{oCard.cardnumber}}</td>
                </tr>
                <tr>
                  <td>Main Effect</td>
                  <td>{{oCard.maineffect}}</td>
                </tr>
                <tr>
                  <td>Source Effect</td>
                  <td>{{oCard.sourceeffect}}</td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>