<div class="container">
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" (click)="toggleFormulario()">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <br />
    <div *ngIf="mostrarFormulario" class="formulario-container">
        <form
            novalidate
            [formGroup]="oForm"
            (ngSubmit)="onSubmit()"
            *ngIf="strEmail"
            class="d-flex align-items-end"
        >
            <div class="form-group">
                <label for="inputDeck" class="mr-1">Deck: </label>
                <select id="inputDeck" formControlName="iddeck">
                    <option
                        *ngFor="let deck of responseFromServer.content"
                        value="{{ deck.id }}"
                    >
                        {{ deck.name }}
                    </option>
                </select>
            </div>
            <div class="form-group ml-1">
                <label for="inputCopies" class="ml-1">Copies: </label>
                <select formControlName="copies" id="inputCopies">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-fixed-size">
                Guardar
            </button>
        </form>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ oCard.image }}" alt="{{ oCard.name }}" />
            </div>
            <div class="col">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="table50" *ngIf="oCard.playcost != null">
                                {{ oCard.playcost }}
                            </td>
                            <td class="table50 left" *ngIf="oCard?.dp != null">
                                {{ oCard.dp }}
                            </td>
                        </tr>
                        <tr>
                            <td
                                colspan="2"
                                *ngIf="oCard?.evolutioncost != null"
                            >
                                {{ oCard.evolutioncost }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ oCard.name }}</td>
                        </tr>
                        <tr>
                            <td class="table50" *ngIf="oCard?.digitype != null">
                                {{ oCard.digitype }}
                            </td>
                            <td
                                class="table50 left"
                                *ngIf="oCard?.attribute != null"
                            >
                                {{ oCard.attribute }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" *ngIf="oCard?.maineffect != null">
                                {{ oCard.maineffect }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" *ngIf="oCard?.sourceeffect != null">
                                {{ oCard.sourceeffect }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ oCard.cardnumber }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div
    class="modal fade"
    [id]="mimodal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ modalTitle }}
                </h5>
                <button
                    copies="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                {{ modalContent }}
            </div>
            <div class="modal-footer">
                <button
                    copies="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                >
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
