img{
    border-radius: 16px;
    max-width: 50vh;
}

label{
    margin-left: 5px;
}

table {
    color: #fff;
    border-collapse: collapse;
    max-width: 40%;
    font-size: 12px;
}

.table100{
  width: 100%;
}

.table50{
	width: 50%;
}

.table33{
	width: 33%;
}

.table-justify{
  text-align: justify;
}

.modal-content{
    background-color: #111827;
}

  .hexagono{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 80px;
    height: 30px;
    background-image: linear-gradient(to bottom, #81270D, #B86C22);
    text-align: center;
    margin-right: 10px;
  }

  .tableContainer{
    display: flex;
    align-items: center;
  }

  .formulario-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
  }

  .formCenter{
    margin: 0 auto;
  }
  
  .form-row {
    flex: 1;
    display: flex;
  }
  
  .form-group {
    margin-right: 10px;
  }
  
  .form-group:last-child {
    margin-right: 0;
  }
  
  .form-group label {
    display: inline-block;
    margin-right: 5px;
  }
  
  .btn-fixed-size {
    width: 100px;
    height: 40px;
  }