<div class="container">
    <div
        class="d-flex justify-content-end"
        *ngIf="strEmail"
        class="formulario-container"
    >
        <div *ngIf="mostrarFormulario" class="formCenter">
            <form
                novalidate
                [formGroup]="oForm"
                (ngSubmit)="onSubmit()"
                *ngIf="strEmail"
                class="d-flex align-items-end"
            >
                <div class="form-group">
                    <label for="inputDeck" class="mr-1">Deck: </label>
                    <select id="inputDeck" formControlName="iddeck">
                        <option
                            *ngFor="let deck of responseFromServer.content"
                            value="{{ deck.id }}"
                        >
                            {{ deck.name }}
                        </option>
                    </select>
                </div>
                <div class="form-group ml-1">
                    <label for="inputCopies" class="ml-1">Copies: </label>
                    <select formControlName="copies" id="inputCopies">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-fixed-size">
                    Save
                </button>
            </form>
        </div>
        <div class="formAdd">
            <button class="btn" (click)="toggleFormulario()">
                Add
            </button>
        </div>
        <br />
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ oCard.image }}" alt="{{ oCard.name }}" />
            </div>
            <div class="col">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="borderNoneRight">
                                <div class="tableContainer">
                                    <div class="hexagono">Type</div>

                                    {{ oCard.type }}
                                </div>
                            </td>
                            <td class="borderNoneLeft"></td>
                        </tr>
                        <tr>
                            <td *ngIf="oCard.playcost != null" [attr.colspan]="oCard.dp != null ? 1 : 2">
                                <div class="tableContainer">
                                    <div class="hexagono">Play Cost</div>

                                    {{ oCard.playcost }}
                                </div>
                            </td>
                            <td *ngIf="oCard?.dp != null">
                                <div class="tableContainer">
                                    <div class="hexagono">DP</div>

                                    {{ oCard.dp }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td
                                colspan="2"
                                *ngIf="oCard?.evolutioncost != null"
                            >
                                <div class="tableContainer">
                                    <div class="hexagono">Evo. Cost</div>

                                    {{ oCard.evolutioncost }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td *ngIf="oCard?.level != null" class="table2">
                                <div class="tableContainer">
                                    <div class="hexagono">Lv.</div>

                                    {{ oCard.level }}
                                </div>
                            </td>
                            <td [attr.colspan]="oCard.level != null ? 1 : 2">
                                <div class="tableContainer">
                                    <div class="hexagono">Name</div>

                                    {{ oCard.name }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td *ngIf="oCard?.attribute != null" >
                                <div class="tableContainer">
                                    <div class="hexagono">Attribute</div>

                                    {{ oCard.attribute }}
                                </div>
                            </td>
                            <td *ngIf="oCard?.digitype != null">
                                <div class="tableContainer">
                                    <div class="hexagono">Digitype</div>

                                    {{ oCard.digitype }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" *ngIf="oCard?.maineffect != null">
                                <div class="tableContainer">
                                    <div class="hexagono">Main</div>

                                    {{ oCard.maineffect }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" *ngIf="oCard?.sourceeffect != null">
                                <div class="tableContainer">
                                    <div class="hexagono">Source</div>

                                    {{ oCard.sourceeffect }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="borderNoneRight"></td>
                            <td class="borderNoneLeft">
                                <div class="tableContainer">
                                    <div class="hexagono">Card</div>

                                    {{ oCard.cardnumber }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div
    class="modal fade"
    [id]="mimodal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ modalTitle }}
                </h5>
                <button
                    copies="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                {{ modalContent }}
            </div>
            <div class="modal-footer">
                <button
                    copies="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                >
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
