<div class="container mt-5">
  <div class="row">
      <div class="col">
          <h1 class="text-center mb-5">Player's view</h1>
          <table class="table table-bordered table-striped">
              <tbody>
                  <tr>
                      <th>Id</th>
                      <td>{{oPlayer.id}}</td>
                  </tr>
                  <tr>
                      <td>Name</td>
                      <td>{{oPlayer.name}}</td>
                  </tr>
                  <tr>
                      <td>Email</td>
                      <td>{{oPlayer.email}}</td>
                  </tr>
                  <tr>
                      <td>Usertype</td>
                      <td>{{oPlayer.usertype.id}}{{oPlayer.usertype.name}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>