<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1>Welcome to DigimonDecks</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/ST16-">
        <img src="assets/ST16.png" alt="ST16 starter deck">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/ST15-">
        <img src="assets/ST15.png" alt="ST15 starter deck">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/BT13-">
        <img src="assets/BT13.png" alt="BT13 booster">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/RB1-">
        <img src="assets/RB01.png" alt="RB01 reprint">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/EX4-">
        <img src="assets/EX4.png" alt="EX4 expansion">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/BT12-">
        <img src="assets/BT12.png" alt="BT12 booster">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/ST14-">
        <img src="assets/ST14.png" alt="ST14 starter deck">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/BT11-">
        <img src="assets/BT11.jpg" alt="BT11 booster">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/EX3-">
        <img src="assets/EX-3-JP.png" alt="EX3 expansion">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/BT10-">
        <img src="assets/BT10.jpg" alt="BT10 booster">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/ST13-">
        <img src="assets/ST13.png" alt="ST13 starter deck">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/ST12-">
        <img src="assets/ST12.png" alt="ST12 starter deck">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/EX2-">
        <img src="assets/EX2.png" alt="EX2 expansion">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/BT8-">
        <img src="assets/BT8.jpg" alt="BT8 booster">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/ST10-">
        <img src="assets/ST10_.jpg" alt="ST10 starter deck">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/ST9-">
        <img src="assets/ST9.jpg" alt="ST9 starter deck">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/BT7-">
        <img src="assets/BT7_2.png" alt="BT7 booster">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/EX1-">
        <img src="assets/EX1.jpg" alt="EX1 expansion">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/BT6-">
        <img src="assets/BT6.png" alt="BT6 booster">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/ST8-">
        <img src="assets/ST8.png" alt="ST8 starter deck">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/ST7-">
        <img src="assets/ST7.png" alt="ST7 starter deck">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/BT5-">
        <img src="assets/BT5.png" alt="BT5 booster">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/BT4-">
        <img src="assets/BT4.jpg" alt="BT4 booster">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/ST6-">
        <img src="assets/ST6.png" alt="ST3 starter deck">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/ST5-">
        <img src="assets/ST5.png" alt="ST5 starter deck">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/ST4-">
        <img src="assets/ST4.png" alt="ST4 starter deck">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/BT3-">
        <img src="assets/BT3.png" alt="BT3 booster">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/BT2-">
        <img src="assets/BT2.jpg" alt="BT2 booster">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/BT1-">
        <img src="assets/BT1.png" alt="BT1 booster">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/ST3-">
        <img src="assets/ST3.png" alt="ST3 starter deck">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/ST2-">
        <img src="assets/ST2.png" alt="ST2 starter deck">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/ST1-">
        <img src="assets/ST1.png" alt="ST1 starter deck">
      </a>
      <a aria-current="page" routerLinkActive="active" routerLink="/user/card/plist/P-">
        <img src="assets/P.jpg" alt="Promo cards">
      </a>
    </div>
  </div>
</div>
