<footer>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-muted">by Alvaro Talaya
          <a href="https://github.com/alvarotalaya">
            <i [ngClass]="oMetadataService.getIcon('github2')" class="fa-fade" style="--fa-animation-duration: 2s;"></i>
          </a> @2023<br>
          Non-lucrative project <br>
          <a class="small" href="https://opensource.org/licenses/MIT">MIT Licensed</a> <br>
          <i class="fab fa-twitter fa-solid fa-money-check-dollar fa-flip" style="--fa-animation-duration: 3s;"></i>
          <i class="fab fa-facebook-f fa-solid fa-money-check-dollar fa-flip" style="--fa-animation-duration: 3s;"></i>
        </p>
      </div>
    </div>
  </div>
</footer>