<div class="container mt-5">
  <div class="row">
      <div class="col">
          <div class="col" *ngIf="edit == 0">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{oPlayer.name}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{oPlayer.email}}</td>
                    </tr>
                </tbody>
            </table>
  
            <button class="btn btn-primary" (click)="changeEdit()">Edit User</button>
          </div>

          <div class="col" *ngIf="edit == 1">
            <form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()">
                <div class="mb-3 row">
                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-4 has-validation">
                      <input type="text" class="form-control"
                        [ngClass]="{'is-valid' : oForm.controls.name.dirty && !oForm.controls.name.errors?.['required'] &&
                      oForm.controls.name.dirty && !oForm.controls.name.errors?.['minlength'] 
                        && oForm.controls.name.dirty && !oForm.controls.name.errors?.['maxlength'],
                        'is-invalid' :  oForm.controls.name.dirty &&  oForm.controls.name.errors?.['minlength'] 
                        ||  oForm.controls.name.dirty &&  oForm.controls.name.errors?.['maxlength'] ||  
                        oForm.controls.name.dirty &&  oForm.controls.name.errors?.['required']}"
                        id="inputName" formControlName="name">
                      <div id="inputNameFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.name.dirty &&  oForm.controls.name.errors?.['minlength']">
                        La longitud mínima es de 5 caracteres.
                      </div>
                      <div id="inputNameFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.name.dirty &&  oForm.controls.name.errors?.['maxlength']">
                        La longitud máxima es de 10 caracteres.
                      </div>
                      <div id="inputNameFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.name.dirty &&  oForm.controls.name.errors?.['required']">
                        El campo es obligatorio.
                      </div>
                    </div>
                  </div>     
          
                  <div class="mb-3 row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-4 has-validation">
                      <input type="text" class="form-control"
                        [ngClass]="{'is-valid' : oForm.controls.email.dirty && !oForm.controls.email.errors?.['required'] &&
                      oForm.controls.email.dirty && !oForm.controls.email.errors?.['pattern'],
                        'is-invalid' :  oForm.controls.email.dirty &&  oForm.controls.email.errors?.['pattern'] ||
                        oForm.controls.email.dirty &&  oForm.controls.email.errors?.['required']}"
                        id="inputEmail" formControlName="email">              
                      <div id="inputEmailFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.email.dirty &&  oForm.controls.email.errors?.['pattern']">
                        El formato no es adecuado
                      </div>
                      <div id="inputEmailFeedback" class="invalid-feedback"
                        *ngIf="oForm.controls.email.dirty &&  oForm.controls.email.errors?.['required']">
                        El campo es obligatorio.
                      </div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary"
                    [disabled]="!oForm.dirty || (oForm.invalid && oForm.dirty)">Guardar</button>
            </form>
          </div>

          <app-deck-new-user-unrouted></app-deck-new-user-unrouted>
          <app-deck-plist-user-unrouted [id]="id"></app-deck-plist-user-unrouted>

      </div>
  </div>
</div>

<div class="modal fade" [id]="mimodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
      </div>
      <div class="modal-body">

        {{modalContent}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>