table {
    color: #fff;
    border-collapse: collapse;
}
.table thead th {
    background-color: #1f2937;
    border-color: #1f2937;
}
.table tbody tr:nth-of-type(odd) {
	background-color: #374151;
	transition: background-color 0.3s ease;
}
.table tbody tr:nth-of-type(even) {
	background-color: #1f2937;
	transition: background-color 0.3s ease;
}
.table tbody tr:hover {
	background-color: #6b51ea
}

.table tbody tr:hover td {
	color: #fff;
}

.modal-content{
    background-color: #111827;
}



.editUser{
	width: 50%;
}

.borderLight {
	border: 2px solid #DADCE0; /* Cambia el valor "3px" para ajustar el tamaño del punteado */
	border-radius: 10px; /* Cambia el valor "10px" para ajustar el radio de los bordes redondeados */
	margin-bottom: 20px;
}

.containerPadding{
	padding: 12px;
}

button{
	background-color: #002b5e;
	color: white;
}

button:hover{
	background-color: lightblue;
	color: black;
}