<div class="container mt-5">
  <div class="row">
      <div class="col">
          <table class="table table-bordered table-striped">
              <tbody>
                  <tr>
                      <th>Id</th>
                      <td>{{oCarddeck.id}}</td>
                  </tr>
                  <tr>
                      <td>Card</td>
                      <td>{{oCarddeck.card.id}}</td>
                  </tr>
                  <tr>
                      <td>Deck</td>
                      <td>{{oCarddeck.deck.id}}</td>
                  </tr>
                  <tr>
                      <td>Copies</td>
                      <td>{{oCarddeck.copies}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>