.modal-content{
    background-color: #111827;
}

.white-color{
	background-color: white;
}

button{
	background-color: #002b5e;
	color: white;
}

button:hover{
	background-color: lightblue;
	color: black;
}