<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">usertype's list</h1>      
      <div class="col-md text-end d-flex justify-content-center align-items-center mb-3 ">
        <app-search-unrouted [placeHolder]="'usertype Search'" (onSearch)="setFilter( $event )"></app-search-unrouted>
        <app-dropdown-register-page class="mx-2" [PageSize]="responseFromServer.numberOfElements"
          (eeRpp)="this.setRpp($event)">
        </app-dropdown-register-page>
      </div>
      <div class="col-md">
        <app-pagination-unrouted [nPage]="responseFromServer.number + 1" [nTotalPages]="responseFromServer.totalPages"
          (eePage)="setPage($event)"></app-pagination-unrouted>
      </div>
      <div class="col-md text-end">
        <h5 class="text-muted">Total de registros en la consulta {{responseFromServer.totalElements}}</h5>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th (click)="setOrder('id')">ID
              <fa-icon *ngIf="sortField=='id'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
              <fa-icon *ngIf="sortField=='id'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
            </th>
            <th (click)="setOrder('type')">Type
              <fa-icon *ngIf="sortField=='type'&&sortDirection=='asc'" [icon]="faArrowUp"></fa-icon>
              <fa-icon *ngIf="sortField=='type'&&sortDirection=='desc'" [icon]="faArrowDown"></fa-icon>
            </th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usertype of responseFromServer.content">
            <td>{{usertype.id}}</td>
            <td>{{usertype.type}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Herramientas">
                <button class="btn btn-sm btn-primary" [routerLink]="['/admin/usertype/view',usertype.id]">
                  <fa-icon [icon]="faEye"></fa-icon>
                </button>
                <button class="btn btn-sm btn-warning">
                  <fa-icon [icon]="faUserPen"></fa-icon>
                </button>
                <button class="btn btn-sm btn-danger" [routerLink]="['/admin','usertype','remove',usertype.id]">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>