/* You can add global styles to this file, and also import other style files */
.table {
 font-size: 0.9rem;
}

body{
    background: linear-gradient(to bottom, #090C14, #111827 15%) !important;
    min-height: 100vh;
    color: white !important;
    font-family:'Roboto', sans-serif !important;
}