<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Deck's list</h1> 
      <div class="chartContainer" *ngIf="edit != 0">
        <!--<app-carddeck-stats-user-unrouted></app-carddeck-stats-user-unrouted>-->
        <div class="row">
          <div class="col">
            <div class="chart" [chart]="columnChart1"></div>
          </div>
          <div class="col"> 
            <div class="chart" [chart]="columnChart2"></div>
          </div>

        </div>
      </div>
      <div class="menu">
        <ul class="menu-lista">
          <li><i class="fa-solid fa-dice-six" (click)="openModalRoll()"></i></li>
          <li><i class="fa-solid fa-sort" (click)="setOrder('card.level')"></i></li>
          <li><i class="fa-solid fa-chart-simple" (click)="changeEdit()"></i></li>
          <li><i class="fa-solid fa-file-import" (click)="pruebaPdf()"></i></li>
        </ul>
      </div>
          <div class="row">
            <div class="col" *ngFor="let carddeck of responseFromServer.content">
              <div class="buttons">
                <button class="btn btn-secondary btn-sm" (click)="changeCopies(carddeck.id, carddeck.copies, carddeck.card.id, carddeck.deck.id, plus)">+</button>
                <p>{{carddeck.copies}}</p>
                <button class="btn btn-secondary btn-sm" (click)="changeCopies(carddeck.id, carddeck.copies, carddeck.card.id, carddeck.deck.id, minus)">-</button>
              </div>
              <div>
                <img src={{carddeck.card.image}} 
                alt={{carddeck.card.name}} (click)="openModalCard(carddeck.card.id)">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

<div class="modal fade" id="carddetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close white-color" data-bs-dismiss="modal" aria-label="Close"></button>
        <app-card-detail-user-unrouted [id]="idCard" (closeEvent)="closeCardModal()"></app-card-detail-user-unrouted>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="roll" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close white-color" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="row">
          <p>Security</p>
          <div class="col" *ngFor="let security of listSecurity">
            <img src={{security}} alt="" class="rollImg">
          </div>
        </div>
        
        <div class="row">
          <p>Hand</p>
          <div class="col" *ngFor="let hand of listHand">
            <img src={{hand}} alt="" class="rollImg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
