img{
    width: 250px;
    margin: 10px;
    margin-bottom: 10px;
    border-radius: 13px;
    transition: transform .2s;
    border: 1px solid black;
}

.hover:hover{
    transform: scale(1.15);
}

.buttons{
    margin-top: 7em;
    margin-right: 5px;
    float: left;
}

p{
    margin: 5px;
    text-align: center;
}

.menu {
	position: fixed;
	top: 32vh;
	left: 0;
	bottom: 0;
	width: 8vh;
	background-color: #333;
	color: #fff;
	overflow-y: auto;
	height: 32vh; /* establecemos la altura fija del menú */
}
.menu-lista {
	list-style: none; /* quitamos los estilos de lista por defecto */
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100%; /* establecemos la altura de la lista igual a la del menú */
	justify-content: space-between; /* distribuimos los elementos uniformemente en la lista */
	align-items: center;
}
.menu-lista li {
	width: 50%;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
}

.chartContainer{
	width: 100%;
	height: 50vh;
	margin-bottom: 20px;
	
}

.chart{
	width: 95%;
	height: 45vh;
	margin: 0 auto;
	border: 1px solid white;
}

.modal-content{
    background-color: #111827;
	font-size: 4vh;
}



.rollImg{
	width: 130px;
	margin: 2px;
}

.btn-right {
	float: right;
	margin-left: 10px;
	margin-top: 7px;
}

.sliderDiv{
	width: 40%;
	margin: 0 auto;
	margin-bottom: 10px;
	display: flex;
}

.sliderDiv i{
    margin: 10px;
    position: relative;
    top: 3.5vh;
}

.square {
	width: 80px; /* Ajusta el ancho según tus necesidades */
	height: 50px; /* Ajusta la altura según tus necesidades */
	background-color: #0B0F19; /* Cambia el color de fondo a uno oscuro de tu elección */
	color: #fff; /* Cambia el color del texto a uno claro para que sea legible */
	text-align: center;
	line-height: 50px; /* Ajusta la altura de línea según el tamaño del cuadro */
	font-size: 14px; /* Ajusta el tamaño de la fuente según tus necesidades */
	margin-bottom: 10px; /* Espacio entre los cuadros */
	border: 1px solid #fff; /* Agrega un borde de 2px sólido de color blanco */
	font-weight: bold;
  }

.red-background {
	background-color: red; /* Cambia el color de fondo a rojo */
}

#center{
	direction: flex;
	align-items: center;
  	justify-content: center;
}

button{
	background-color: #002b5e;
	color: white;
}

button:hover{
	background-color: lightblue;
	color: black;
}

.white-color{
	background-color: white;
}
