<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Deck's list</h1> 
      <div class="col-md text-end d-flex justify-content-center align-items-center mb-3 ">
        <app-dropdown-register-page class="mx-2" [PageSize]="responseFromServer.numberOfElements"
          (eeRpp)="this.setRpp($event)">
        </app-dropdown-register-page>
      </div>
      <div class="col-md">
        <app-pagination-unrouted [nPage]="responseFromServer.number + 1" [nTotalPages]="responseFromServer.totalPages"
          (eePage)="setPage($event)"></app-pagination-unrouted>
      </div>
      <div class="col-md text-end">
        <h5 class="text-muted">Total de registros en la consulta {{responseFromServer.totalElements}}</h5>
      </div>
        <div class="row-md">
          <div class="row">
            <div class="col" *ngFor="let carddeck of responseFromServer.content">
              <div class="col">
                <button (click)="changeCopies(carddeck.id, carddeck.copies, carddeck.card.id, carddeck.deck.id, plus)">+</button>
                <p>{{carddeck.copies}}</p>
                <button (click)="changeCopies(carddeck.id, carddeck.copies, carddeck.card.id, carddeck.deck.id, minus)">-</button>
              </div>
              <div class="col">
                <img src={{carddeck.card.image}} 
                alt={{carddeck.card.name}} (click)="openModalCard(carddeck.card.id)">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="carddetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <app-card-detail-user-unrouted [id]="idCard" (closeEvent)="closeCardModal()"></app-card-detail-user-unrouted>

      </div>
    </div>
  </div>
</div>

