<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Deck's list</h1> 

      <!--<app-carddeck-stats-user-unrouted></app-carddeck-stats-user-unrouted>-->
      <div class="chart" [chart]="columnChart" *ngIf="edit != 0"></div>

      <div class="menu">
        <ul class="menu-lista">
          <li><i class="fa-solid fa-dice-six"></i></li>
          <li><i class="fa-solid fa-bars-filter"></i></li>
          <li><i class="fa-solid fa-chart-simple" (click)="changeEdit()"></i></li>
          <li><i class="fa-solid fa-file-import" (click)="pruebaPdf()"></i></li>
        </ul>
      </div>
          <div class="row">
            <div class="col" *ngFor="let carddeck of responseFromServer.content">
              <div class="buttons">
                <button class="btn btn-secondary btn-sm" (click)="changeCopies(carddeck.id, carddeck.copies, carddeck.card.id, carddeck.deck.id, plus)">+</button>
                <p>{{carddeck.copies}}</p>
                <button class="btn btn-secondary btn-sm" (click)="changeCopies(carddeck.id, carddeck.copies, carddeck.card.id, carddeck.deck.id, minus)">-</button>
              </div>
              <div>
                <img src={{carddeck.card.image}} 
                alt={{carddeck.card.name}} (click)="openModalCard(carddeck.card.id)">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

<div class="modal fade" id="carddetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <app-card-detail-user-unrouted [id]="idCard" (closeEvent)="closeCardModal()"></app-card-detail-user-unrouted>

      </div>
    </div>
  </div>
</div>

